.main-title 
    font-family: "Ashley"
    font-size: 6rem
    padding: 5.3rem 2rem 9.2px 0

.title-h2
    box-sizing: border-box
    font-family: "Ashley"
    font-size: 4.8rem
    text-align: right
    height: 100%
    font-weight: normal
    margin: 0
    padding: 17rem 2rem 9rem 0

.span-fw-500
    font-weight: 500

.advantage-h2 
    padding: 14rem 0 0 4rem
    text-align-last: left