@font-face 
    font-family: 'Ashley'
    src: url("../fonts/AshleyCapitaliSofia.otf") format("truetype")
    font-style: normal
    font-weight: normal

    
*, ::after, ::befor    
    margin: 0
    padding: 0
    box-sizing: border-box


html
    font-size: 62.5%

body 
    font-family: 'Roboto'
    background: #41442C
    color: #fff
    padding: 40px 92px
    margin: 0 auto
a 
    text-decoration: none
    color: #F2F1EE

.container 
    max-width: 1366px
    
.header
    display: flex
    justify-content: space-between
    margin:  0 0 4rem 9.3rem
.logo
    display: flex
    align-items: center
    width: 18rem
    height: 5rem
.menu__list
    display: flex
    gap: 2rem
    font-size: 1.6rem
.menu__list-item
    list-style-type: none

.menu__list-link 
    

.menu__btn 
    display: none

.lang
    display: flex
    align-items: center
    font-size: 1.6rem
.reg 
    display: flex
    align-items: center
    justify-content: center
    color: #2F2C22
    background: #EBD7B2
    width: 18rem
    font-size: 1.6rem
    height: 4rem
.wrapper
    display: flex
    height: 62rem
    box-sizing: border-box
    margin-bottom: 90px
    border-bottom: 1px solid #76786E



.wrapper-left 
    width: 50%
    box-sizing: border-box
    padding-left: 9.3rem
    position: relative



.wrapper-right 
    width: 50%



.wrapper__left-title 
    font-family: "Ashley"
    font-size: 6rem
    padding: 5.3rem 2rem 9.2px 0

.wrapper__left-p
    font-size: 1.6rem
    padding: 0 0 2rem 0
    
.wrapper__left-img
    border-radius: 0 154px 0 0
    position: absolute
    top: 43.6rem
    left: 0
    
.right-img1
    border-radius: 154px  0 154px 0
    margin-right: 1rem
.right-img2
    border-radius: 0 154px  0 154px 
    