

@import "variables.sass"
@import "text.sass"
@import "buttons.sass"
@import "img.sass"
@import "adaptive.sass"

*, ::after, ::befor    
    margin: 0
    padding: 0
    box-sizing: border-box


html
    font-size: 62.5%
    

body 
    font-family: 'Roboto'
    background: $color-bg
    color: $color-wite1
    padding: 40px 92px
    margin: 0 auto

a 
    text-decoration: none
    color: $color-wite2
    
.container 
    box-sizing: border-box
    max-width: 1366px
    margin: 0 auto
    
.header
    display: flex
    justify-content: space-between
    margin:  0 0 4rem 9.3rem

.menu__list
    display: flex
    gap: 2rem
    font-size: $fz-main
.menu__list-item
    list-style-type: none

.menu__list-link 
    
.wrapper
    display: flex
    height: 62rem
    box-sizing: border-box
    border-bottom: $border

.wrapper-left 
    width: 50%
    box-sizing: border-box
    padding-left: 9.3rem
    position: relative

.wrapper-right 
    box-sizing: border-box
    position: relative
.wrapper-right-box
    display: flex
    align-items: end
    position: absolute
    bottom: 0
    left: 0
.wrapper__left-p
    padding: 0 0 2rem 0
    
.wrapper__left-img
    border-radius: 0 154px 0 0
    position: absolute
    bottom: 0
    left: 0
    

.about 
    position: relative
    height: 80rem

.about-top
    display: flex
    height: 30%
.about__top-left
    width: 50%
    height: 100%
    border-bottom: $border

.about__top-right
    width: 50%
    height: 100%
    border-bottom: $border
    border-left: $border

.about-wrapper__middlel
    display: flex
    height: 55%
    height: 44.2rem
    border-bottom: $border
.about__middlel-left
    width: 50%
    height: 100%
    border-right: $border
.about__middlel-right
    display: flex
    width: 50%
    height: 100%
    


.about-p 
    margin: 18rem 20rem 0 0
    height: 10rem
    
.about__middlel-right1
    height: 100%
    width: 35%
    border-right: $border

.about__middlel-right2
    height: 100%
    width: 65%


.about-p2 
    margin: 8rem 4rem  4rem 0rem

.about-p3
    margin: 0rem 9rem  0rem 0rem
.about-p4
    margin: 26rem 0rem  0rem 1rem
    width: 80%

.about__bottom
    box-sizing: border-box
    height: 15%
    max-width: 1366px
    display: flex
    justify-content: space-evenly
    font-size: $fz-main
    color: $color-text2
    border-bottom: $border



.about__bottom-box1
    box-sizing: border-box
    height: 100%
    width: 50%
    padding: 3rem   15rem 0 36rem
    border-right: $border
    

.about__bottom-box2
    box-sizing: border-box
    height: 100%
    width: 17.5%
    padding: 3rem 0
    
.about__bottom-box3
    box-sizing: border-box
    height: 100%
    width: 32.5%
    padding: 3rem 0 0 1rem
    border-left: $border


    
.third
    max-height: 100rem   
.third-wrapper 
    display: flex
    
.third__wrapper-left
    width: 67.51%

    

.third__wrapper-right
    width: 32%
    // height: 102rem 
    border-left: $border
    position: relative

.third-day1
.third-day2

.third__photo-box
    width: 100%
    margin: 8rem 0 
    
.thir__photo-item
    height: 32.695rem



.third-end
    display: flex
    
.third__end-left
    width: 67.51%
    border-bottom: $border
    
.third__end-right
    width: 32%
    border-bottom: $border
    border-left: $border

// переваги
.advantage__bottom
    display: flex
    font-size: $fz-main
    border-bottom: $border
    
    box-sizing: border-box
    
.advantage-box
    width: 20%
    border-right: $border
    box-sizing: border-box
    padding: 3rem

    
    &:last-child 
        width: 33.62%
        border-right: none
    &:first-child
        width: 30%
        border-right: $border
.advantage-box span
    font-size: $fz-h2
    font-family: 'Ashley'
    color: $color-text2

.whom
    position: relative
    &-top
        display: flex
        border-bottom: $border
        height: 50rem
    &-bot
        display: flex
        height: 15rem
.side-left
    width: 67.5%
    border-right: $border
.side-right
    height: 50rem
.tariff
    position: relative
    display: flex
    height: 66rem
    &__wrapper
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        display: flex
        justify-content: space-evenly
        gap: 30px
        

.card-box
    width: 34rem
    height: 59rem
    border: 2px solid $color-wite2
    text-align: center
    background: $color-bg
    &__list
        list-style-type: none
        font-size: 1.8rem
        font-weight: regular
        margin-bottom: 4rem
    &__list li
        margin-bottom: 1rem
        text-align: left
.price
    font-size: 3rem
    font-weight: bold
    margin-bottom: 4rem
.card-box div
    margin-left: 50%
    transform: translate(-50%, -50%)
.card-box2
    border: none
    background: #D4CCBF
    color: $color-reg1-text
.footer 
    height: 20rem
    display: flex
    margin: 0 2.4rem 3.2rem 0
    &_left
        display: flex
        margin: 3rem 42rem 2rem 2rem
        &_l
            margin-right: 22rem
    &_right
        margin: 3rem 2rem
.menu__list-footer
    font-size: $fz-main
    margin: 0
.menu__list-footer li
    margin-bottom: 1rem
.social
    margin-bottom: 3rem

@import "adaptive.sass"